*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.principal-container{
    height: 100vh;
    width: 100%;
    background-image: url("../assets/carrosel3.jpeg");
    background-size: cover;
    position: relative;
}


.link-button {
    background: none;
    border: none;
    color: white; /* Cor padrão do link do Bootstrap */
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    font: inherit;
  }
  
  .link-button:hover {
    color: wheat; 
    background-color: transparent;
  }

  .small-card{
    width: 270px;
  }
  .dashboard{
    width: 100%;
    display: grid;

  }

  .cartao {
    margin-top: 100px;
  }

  .allcartoes {
    margin-left: 200px;
  }