.main-container{
    background-image: url('../assets/carrosel2.jpeg');
    height: 100vh;
    width: 100%;
    background-size: cover;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}

li{
    padding: 15px;
}

a{
    text-decoration: none;
    color:#fff;
 }

a:hover{
    color: white;
}

.carousel-container{
    height: 100vh;
    width: 100%;
    
}

.img {
    object-fit: cover;
}

.nav{
    position: absolute;
    justify-content: center;
    font-weight: bolder;
    top: 10px;
    z-index: 2;
    left: 0;
    right: 0;
}

a:hover{
    color: wheat;
}

.login-container{
    border: 1px solid white;
    border-radius: 25px;
    right: 7%;
    position: absolute;
}

.login-container:hover{
    background-color: white;
}

.login-container a:hover{
    color: black;
}

.botao-nav:hover{
    background-color: white;
    color: black;
}

.botao-nav{
    background-color: white;
    border-radius: 25px;
    color: black;
}

.link-signup:hover{
    color: black;
}

.link-signup{
    color: black;
}

.botao-nav2:hover{
    background-color: white;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}