.container-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/carrosel2.jpeg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    padding: 80px;
}

.container-image {
    width: 40%;
    background-image: url("../assets/login2-black.jpeg");
    height: 80vh;
    background-size: cover;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
}

.container-form {
    width: 60%; 
    height: 80vh;
    background-color: white;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    padding: 50px;
}

.formulario {
    width: 100%;
}

.input-container1, .input-container2 {
    display: flex;
    flex-direction: column;
    width: 50%; 
    padding: 20px; 
}

input {
    margin-bottom: 10px;
}

.image-icon{
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}